* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Para evitar problemas con el padding */
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3F2F3;
    color: #333;
}

.title{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #13599B;
    padding: 15px;
}

/* Estilos para el header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #19213A;
    color: #fff;
    margin: 0;
}

/* Título */
h1 {
    text-align: center;
    color: #EBEBEB;
    font-size: 2rem;
}

.dashboard {
    display: flex;
    justify-content: space-around; /* Espacio entre sliders y gráficos */
    align-items: center;
    gap: 20px;
    max-width: 100%;
    padding: 20px;
    /* margin: auto; */
}

/* Ajusta sliders y gráficos para ocupar la mitad */
.sliders, .charts {
    width: 50%;
    box-sizing: border-box;
}

.sliders{
    display: flex;
    flex-direction: column; /* Ordenar los sliders verticalmente */
    gap: 20px;
    background-color: #50B6FF;
    width: 600px; /* Ajusta el ancho de los sliders */
    height: 100%; /* Ocupa toda la altura disponible */
    justify-content: center; /* Centra los sliders verticalmente */
    padding: 20px;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

/* Ajustes adicionales para las gráficas */
.charts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    gap: 20px;
    padding: 10px;
    width: 100%;
}

/* Estilos para los gráficos */
canvas {
    background-color: #1A2E54;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

img {
    width: 10%;
    height: auto;
    filter: brightness(0.9); /* Ajuste de brillo para que la imagen combine con el color del header*/
}

/* Responsividad */
@media (max-width: 768px) {
    .dashboard {
        padding: 15px;
    }

    h1 {
        font-size: 1.8rem;
    }

    .sliders {
        padding: 10px;
    }
}
