* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3F2F3;
    color: #333;
}

.title {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #13599B;
    padding: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #19213A;
    color: #fff;
    margin: 0;
}

h1 {
    text-align: center;
    color: #EBEBEB;
    font-size: 2rem;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    max-width: 100%;
    padding: 20px;
}

.sliders, .charts {
    width: 50%;
    box-sizing: border-box;
}

.sliders {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #50B6FF;
    width: 600px;
    height: 100%;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.charts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    gap: 20px;
    padding: 10px;
    width: 100%;
}

canvas {
    background-color: #1A2E54;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

img {
    width: 10%;
    height: auto;
    filter: brightness(0.9);
}

@media (max-width: 768px) {
    .dashboard {
        padding: 15px;
    }

    h1 {
        font-size: 1.8rem;
    }

    .sliders {
        padding: 10px;
    }
}